Repository agri-gaia/seerep, pull requests merged in 2022-11, with the labels that each got.

#210 catch all errors and log them
  seerep-srv/seerep-server/include/seerep-server/fb-instance-service.h
  seerep-srv/seerep-server/include/seerep-server/pb-image-service.h
  seerep-srv/seerep-server/include/seerep-server/pb-meta-operations.h
  seerep-srv/seerep-server/include/seerep-server/pb-point-cloud-service.h
  seerep-srv/seerep-server/include/seerep-server/pb-receive-sensor-msgs.h
  seerep-srv/seerep-server/include/seerep-server/pb-tf-service.h
  seerep-srv/seerep-server/src/fb-image-service.cpp
  seerep-srv/seerep-server/src/fb-instance-service.cpp
  seerep-srv/seerep-server/src/fb-meta-operations.cpp
  seerep-srv/seerep-server/src/fb-point-cloud-service.cpp
  seerep-srv/seerep-server/src/fb-point-service.cpp
  seerep-srv/seerep-server/src/fb-tf-service.cpp
  seerep-srv/seerep-server/src/pb-image-service.cpp
  seerep-srv/seerep-server/src/pb-meta-operations.cpp
  seerep-srv/seerep-server/src/pb-point-cloud-service.cpp
  seerep-srv/seerep-server/src/pb-receive-sensor-msgs.cpp
  seerep-srv/seerep-server/src/pb-tf-service.cpp
Labels: api

#213 Feat/update python and readme
  docker/docker-compose.yml
  docs/mkdocs/getting-started/local-deployment.md
  docs/mkdocs/tutorials/images.md
  docs/mkdocs/tutorials/projects.md
  examples/python/gRPC/images/gRPC_fb_queryImage.py
  examples/python/gRPC/images/gRPC_pb_queryImage.py
  examples/python/gRPC/images/gRPC_pb_sendLabeledImage.py
  examples/python/gRPC/instances/gRPC_fb_getInstances.py
  examples/python/gRPC/point/gRPC_fb_queryPoints.py
  examples/python/gRPC/point/gRPC_fb_sendPointsBasedOnImageInstances.py
  examples/python/gRPC/simulated-data/querySimulatedData.py
  examples/python/gRPC/tf/gRPC_fb_getTf.py
  examples/python/gRPC/util_fb.py
Labels: documentation, api

#216 catch exceptions from hdf5-io in ROS dumper
  examples/cpp/seerep_ros_communication/src/hdf5dump.cpp
Labels: ROS, hdf5

#186 Ros fb conversion test
  .github/workflows/test.yml
  seerep-ros/seerep_ros_conversions_fb/CMakeLists.txt
  seerep-ros/seerep_ros_conversions_fb/src/seerep_ros_conversions_fb/conversions.cpp
  seerep-ros/seerep_ros_conversions_fb/test/ros_to_fb_conversion_test.cpp
Labels: test

#220 extend query for datasets having *all* of the defined labels and not just one of them
  examples/python/gRPC/images/gRPC_fb_queryImage.py
  examples/python/gRPC/util_fb.py
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-image.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point-cloud.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point.cpp
  seerep-msgs/core/query.h
  seerep-msgs/fbs/query.fbs
  seerep-msgs/protos/query.proto
  seerep-srv/seerep-core-fb/include/seerep-core-fb/core-fb-conversion.h
  seerep-srv/seerep-core-fb/src/core-fb-conversion.cpp
  seerep-srv/seerep-core-pb/include/seerep-core-pb/core-pb-conversion.h
  seerep-srv/seerep-core-pb/src/core-pb-conversion.cpp
  seerep-srv/seerep-core/include/seerep-core/core-dataset.h
  seerep-srv/seerep-core/src/core-dataset.cpp
Labels: api, core
