Repository agri-gaia/seerep, pull requests merged in 2022-10, with the labels that each got.

#189 add publications to readme
  CITATION.cff
  README.md
Labels: documentation

#191 add doxygen extension for vs-code
  .devcontainer/devcontainer.json
Labels: enhancement

#190 update fb to use hdf5 definitions from seerep-hdf5-core
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-image.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-point.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-tf.h
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-image.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-point.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-tf.cpp
Labels: flatbuffer, hdf5

#194 remove unused dependecy to seerep-core from hdf5-fb tests
  seerep-hdf5/seerep-hdf5-fb/CMakeLists.txt
  seerep-hdf5/seerep-hdf5-fb/test/fb-write-load-test.cpp
Labels: enhancement, test

#170 Protobuf tests
  .github/workflows/test.yml
  seerep-hdf5/seerep-hdf5-pb/CMakeLists.txt
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/hdf5-pb-general.h
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/impl/hdf5-pb-general.hpp
  seerep-hdf5/seerep-hdf5-pb/src/hdf5-pb-image.cpp
  seerep-hdf5/seerep-hdf5-pb/src/hdf5-pb-pointcloud.cpp
  seerep-hdf5/seerep-hdf5-pb/test/pb-write-load-test.cpp
Labels: test

#197 apply corporate design to mkdocs #132
  docs/mkdocs/imgs/DFKI_logo_outline_w.png
  docs/mkdocs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation, enhancement

#193 add support for point clouds over flatbuffers
  examples/python/gRPC/pointcloud/gRPC_fb_queryPointCloud.py
  examples/python/gRPC/pointcloud/gRPC_fb_sendPointCloud.py
  examples/python/gRPC/util.py
  examples/python/gRPC/util_fb.py
  seerep-com/CMakeLists.txt
  seerep-com/fbs/point_cloud_service.fbs
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/hdf5-core-general.h
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/hdf5-core-point-cloud.h
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/impl/hdf5-core-general.hpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-general.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point-cloud.cpp
  seerep-hdf5/seerep-hdf5-fb/CMakeLists.txt
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-general.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-point-cloud2-iterator.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-pointcloud.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/impl/hdf5-fb-general.hpp
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/impl/hdf5-fb-point-cloud2-iterator.hpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-general.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-image.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-point.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-pointcloud.cpp
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/hdf5-pb-point-cloud2-iterator.h
  seerep-msgs/fbs/point_cloud_2.fbs
  seerep-msgs/fbs/point_field.fbs
  seerep-ros/seerep_ros_conversions_fb/src/seerep_ros_conversions_fb/conversions.cpp
  seerep-srv/seerep-core-fb/CMakeLists.txt
  seerep-srv/seerep-core-fb/include/seerep-core-fb/core-fb-conversion.h
  seerep-srv/seerep-core-fb/include/seerep-core-fb/core-fb-pointcloud.h
  seerep-srv/seerep-core-fb/src/core-fb-conversion.cpp
  seerep-srv/seerep-core-fb/src/core-fb-pointcloud.cpp
  seerep-srv/seerep-core/src/core-project.cpp
  seerep-srv/seerep-core/src/core.cpp
  seerep-srv/seerep-server/CMakeLists.txt
  seerep-srv/seerep-server/include/seerep-server/fb-image-service.h
  seerep-srv/seerep-server/include/seerep-server/fb-point-cloud-service.h
  seerep-srv/seerep-server/include/seerep-server/pb-point-cloud-service.h
  seerep-srv/seerep-server/include/seerep-server/server.h
  seerep-srv/seerep-server/src/fb-point-cloud-service.cpp
  seerep-srv/seerep-server/src/server.cpp
Labels: pointclouds, flatbuffer, hdf5

#205 check if any bounding boxes exist
  seerep-srv/seerep-core-fb/src/core-fb-image.cpp
  seerep-srv/seerep-server/src/fb-image-service.cpp
Labels: api, core

#198 added meta services: load new and delete projects
  seerep-com/fbs/meta_operations.fbs
  seerep-srv/seerep-core/include/seerep-core/core.h
  seerep-srv/seerep-core/src/core.cpp
  seerep-srv/seerep-server/include/seerep-server/fb-meta-operations.h
  seerep-srv/seerep-server/src/fb-meta-operations.cpp
Labels: api, core
