Repository agri-gaia/seerep, pull requests merged in 2022-12, with the labels that each got.

#224 fix server crash due to wrong transformation of AABB
  examples/python/gRPC/simulated-data/loadSimulatedData.py
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point-cloud.cpp
  seerep-srv/seerep-core/include/seerep-core/core-tf.h
  seerep-srv/seerep-core/src/core-tf.cpp
Labels: pointclouds, protobuf

#225 return only a given number of datasets from all datasets fitting the query
  examples/cpp/seerep_ros_communication/launch/querier.launch
  examples/cpp/seerep_ros_communication/src/querier.cpp
  seerep-msgs/core/query.h
  seerep-msgs/fbs/query.fbs
  seerep-msgs/protos/query.proto
  seerep-srv/seerep-core-fb/include/seerep-core-fb/core-fb-conversion.h
  seerep-srv/seerep-core-fb/src/core-fb-conversion.cpp
  seerep-srv/seerep-core-pb/include/seerep-core-pb/core-pb-conversion.h
  seerep-srv/seerep-core-pb/src/core-pb-conversion.cpp
  seerep-srv/seerep-core/include/seerep-core/core.h
  seerep-srv/seerep-core/src/core-dataset.cpp
  seerep-srv/seerep-core/src/core.cpp
Labels: api, core

#228 Update GitHub actions to remove deprecation warnings
  .github/workflows/buildDocker.yml
  .github/workflows/gitlab-sync.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Labels: enhancement, general

#227 first version for directly dumping ROS messages to HDF5
  examples/cpp/ROS/CMakeLists.txt
  examples/cpp/ROS/include/seerep_ros_examples/hdf5-node.h
  examples/cpp/ROS/launch/hdf5-node.launch
  examples/cpp/ROS/package.xml
  examples/cpp/ROS/src/hdf5-node.cpp
  seerep-hdf5/seerep-hdf5-ros/CMakeLists.txt
  seerep-hdf5/seerep-hdf5-ros/cmake/FindHighFive.cmake
  seerep-hdf5/seerep-hdf5-ros/include/seerep-hdf5-ros/hdf5-ros.h
  seerep-hdf5/seerep-hdf5-ros/package.xml
  seerep-hdf5/seerep-hdf5-ros/src/hdf5-ros.cpp
Labels: ROS, images, hdf5

#231 save and load data of images in raw bytes
  .clang-format
  .pre-commit-config.yaml
  docker/base/Dockerfile
  examples/cpp/seerep_ros_communication/include/seerep_ros_communication/types.h
  examples/python/gRPC/images/gRPC_pb_queryImageGrid.py
  examples/python/gRPC/simulated-data/loadSimulatedDataWithInstancePosition.py
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/hdf5-core-general.h
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/hdf5-core-image.h
  seerep-hdf5/seerep-hdf5-core/include/seerep-hdf5-core/impl/hdf5-core-general.hpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-general.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-image.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point-cloud.cpp
  seerep-hdf5/seerep-hdf5-core/src/hdf5-core-point.cpp
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-general.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/hdf5-fb-image.h
  seerep-hdf5/seerep-hdf5-fb/include/seerep-hdf5-fb/impl/hdf5-fb-general.hpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-general.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-image.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-point.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-pointcloud.cpp
  seerep-hdf5/seerep-hdf5-fb/src/hdf5-fb-tf.cpp
  seerep-hdf5/seerep-hdf5-fb/test/fb-write-load-test.cpp
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/hdf5-pb-general.h
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/hdf5-pb-image.h
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/hdf5-pb-pointcloud.h
  seerep-hdf5/seerep-hdf5-pb/include/seerep-hdf5-pb/impl/hdf5-pb-general.hpp
  seerep-hdf5/seerep-hdf5-pb/src/hdf5-pb-image.cpp
  seerep-hdf5/seerep-hdf5-pb/src/hdf5-pb-pointcloud.cpp
  seerep-hdf5/seerep-hdf5-pb/src/hdf5-pb-tf.cpp
  seerep-hdf5/seerep-hdf5-pb/test/pb-write-load-test.cpp
  seerep-msgs/fbs/image.fbs
  seerep-ros/seerep_ros_conversions_fb/src/seerep_ros_conversions_fb/conversions.cpp
  seerep-ros/seerep_ros_conversions_pb/src/seerep_ros_conversions_pb/conversions.cpp
  seerep-srv/seerep-core/src/core-tf.cpp
Labels: images, protobuf, flatbuffer, hdf5
